<br>
<section>
  <h1 class="title has-text-centered toptitle">| FOODZ |</h1>
  <div class="columns is-centered is-multiline">
    {{#each restaurants as |restaurant|}}
    <div class="column is-centered is-multiline is-one-quarter">
      <a href="/restaurants/{{restaurant.id}}">
        <div class="card card-fixed-height">
          <div class="card-image">
            <figure class="image is-4by4">
              <img src="{{restaurant.image}}" alt="{{restaurant.name}}'s Image">
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{restaurant.name}}</p>
              </div>
            </div>

            <div class="content is-centered">
              {{restaurant.description}}
            </div>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
  </div>
</section>