<h1 class="title has-text-centered">Our Amazing Developers</h1>
<section class="section">
  <div class="container">
    <div class="columns is-mobile">
      {{#each developers as |developer|}}
      <div class="column is-one-fifth">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by4">
              <img src="{{developer.image}}" alt="{{developer.name}}'s Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{developer.name}}</p>
              </div>
            </div>
            <div class="content">
              <p>{{developer.bio}}</p>
              <a href="{{developer.github}}" target="_blank">
                <i class="fab fa-github"></i> GitHub Profile
              </a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

  </div>
</section>