```handlebars
<!-- Handlebars Page Comments -->
<h1 class="title has-text-centered toptitle">| {{restaurant.name}} |</h1>

<div class="columns is-multiline">
    {{#each restaurant.burgers as |burger|}}
    <div class="column is-one-quarter">
        <div class="card burger-fixed-height">
            <div class="card-image">
                <figure class="image is-4by4">
                    <img src="{{burger.image}}" alt="{{burger.name}}'s Image">
                </figure>
            </div>
            <div class="card-content has-text-centered">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4 is-centered">{{burger.name}}</p>
                    </div>
                </div>

                <div class="content is-centered">
                    {{burger.burgerDetails}}
                </div>
            </div>

            <div class="level">
                <div class="level-item">
                    <button data-id="{{burger.id}}" class="button is-light is-primary"><i
                            class="fas fa-shopping-cart"></i> Order</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<!-- JavaScript Import -->
<script src="/js/order.js"></script>
```

