```handlebars
<!-- Handlebars Page Comments -->
<section class="section">
  <div class="container">
    <h1 class="title is-1 has-text-centered toptitle">Checkout the Amazing Reviews</h1>

    {{#each reviews as |review|}}
    <div class="box mb-5">
      <div class="media-content has-text-centered">

        <p class="subtitle is-5">Review ID #42069{{review.id}}</p>
        <p class="subtitle is-5">Review for: {{review.burger.name}}</p>
        <div class="content">
          <p>"{{review.reviewDetails}}"</p>
        </div>
      </div>
    </div>
    {{/each}}

  </div>

  <aside class="section">
    <div class="container">
      <h2 class="title is-2">Give us your feedback</h2>
      <form action="/add-review" method="POST" id="addReviewForm">
        <div class="field">
          <label class="label" for="burger">Which burger?</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select id="burger_id" name="burger_id">
                {{#each burgers as |burger|}}
                <option value="{{burger.id}}">{{burger.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label" for="review">Review</label>
          <div class="control">
            <textarea class="textarea" placeholder="Enter your review here..." id="reviewDetails" name="review"
              required></textarea>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-link is-fullwidth">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </aside>
</section>

<!-- JavaScript Import -->
<script src="/js/addReview.js"></script>
```